
@{
    ViewBag.Title = "LogInDefault";
}

<h2>You have sucessfully logged in to the system</h2>
<h4>You belong to groups : @ViewBag.Groups</h4>
<h4>You can use following internal systems or part of them based on your groups autherization</h4>
<span>Accounting system : <a href="http://localhost:5895">http://localhost:5895</a></span>
<br />
<span>CRM : <a href="http://localhost:5902">http://localhost:5902</a></span>

